@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap');
body {
  margin: 0;

  line-height: normal;
}
:root {
  /* fonts */
  --font-out: out;
  /* font size */
  --font-size-base: 16px;

  /* colors */
  --color-white: #fff;
  --color-darkviolet: rgba(141, 0, 207, 0.83);
  /* board radiues */
  --br-31xl: 50px;
}
