.walletConnectButtonChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  width: 10.44rem;
  height: 2.5rem;
  overflow: hidden;
}
.walletConnect {
  position: absolute;
  top: calc(50% - 9.5px);
  left: 3.17rem;
  display: inline-block;
  width: 6.72rem;
  height: 1rem;
}
.createButtonChild,
.walletConnectButton {
  position: absolute;
  width: 10.44rem;
  height: 2.5rem;
}
.walletConnectButton {
  top: 1.39rem;
  left: 92.78rem;
}
.createButtonChild {
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-darkviolet);
  box-sizing: border-box;
  overflow: hidden;
}
.create {
  position: absolute;
  top: 0.67rem;
  left: 3.78rem;
  font-weight: 600;
  display: inline-block;
  width: 2.89rem;
  height: 1rem;
}
.button,
.createButton {
  position: absolute;
  width: 10.44rem;
  height: 2.5rem;
}
.createButton {
  top: 41.56rem;
  left: 41.5rem;
}
.button {
  top: 0;
  left: 0;
}
.explore {
  position: absolute;
  top: 0.72rem;
  left: 3.61rem;
  font-weight: 600;
  display: inline-block;
  width: 3.22rem;
  height: 1rem;
}
.buttonExplore {
  position: absolute;
  top: 41.5rem;
  left: 54.72rem;
  width: 10.44rem;
  height: 2.5rem;
}
.landingPageChild {
  position: absolute;
  top: 63.5rem;
  left: 2.78rem;
  background-color: #4453a3;
  width: 111.11rem;
  height: 0.06rem;
}
.listenCollectAnd {
  margin: 0;
}
.extraordinaryMusic {
  margin: 0;
  background: radial-gradient(
    50% 50%at 50% 50%,
    #8d00cf,
    rgba(175, 0, 105, 0.51) 62.45%,
    rgba(211, 0, 0, 0)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.maintext,
.sidetext {
  position: absolute;
  left: 16.67rem;
  text-align: center;
  display: inline-block;
  width: 73.39rem;
}
.maintext {
  top: 13.5rem;
  font-size: 4rem;
  height: 14.11rem;
}
.sidetext {
  top: 32.17rem;
  font-size: 1rem;
  background: radial-gradient(50% 50%at 50% 50%, #fff, rgba(255, 255, 255, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.radiantbig,
.radiantsmall {
  position: absolute;
  transform: rotate(-86.38deg);
  transform-origin: 0 0;
}
.radiantsmall {
  top: 13.49rem;
  left: -4.44rem;
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(217, 217, 217, 0.15),
    rgba(217, 217, 217, 0)
  );
  width: 16.02rem;
  height: 18.67rem;
}
.radiantbig {
  top: 51.28rem;
  left: 45.28rem;
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(255, 255, 255, 0.05),
    rgba(217, 217, 217, 0)
  );
  width: 61.35rem;
  height: 59.79rem;
}
.radiantIcon {
  position: absolute;
  top: 0.15rem;
  left: 15.93rem;
  width: 90.74rem;
  height: 59.85rem;
}
.logo {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.homeExploreProfile {
  position: absolute;
  top: 0.67rem;
  left: 32rem;
  font-size: var(--font-size-base);
}
.menu1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 66.33rem;
  height: 2.5rem;
}
.searchButtonIcon {
  position: absolute;
  height: 44.44%;
  width: 1.34%;
  top: 26.67%;
  right: 0;
  bottom: 28.89%;
  left: 98.66%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.menu {
  position: absolute;
  top: 1.39rem;
  left: 3.89rem;
  width: 82.72rem;
  height: 2.5rem;
  font-size: 2rem;
}
.landingPage {
  position: relative;
  top: 1.39rem;
  left: 3.89rem;
  background-color: #020113;
  width: 130%;
  height: 60rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-outfit);
}